{% extends 'base.html.twig' %}

{% block body %}
    <script>
        var allByMonthData = {{ allByMonthData|json_encode|raw }};

        var monthByMonthData = {{ monthByMonthData|json_encode|raw }};
        var monthByMonthByCategoryData = {{ monthByMonthByCategoryData|json_encode|raw }};
    </script>

    <div id="wrapper">
        <div id="container">

            <canvas id="myChart" width="400" height="100"></canvas>
            {#{% for operation in operations %}#}
                {#<li>{{ operation.amount }}</li>#}
            {#{% endfor %}#}

        </div>
    </div>
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/Chart.js') }}"></script>
    <script src="{{ asset('js/report.js') }}"></script>
{% endblock %}
