{% extends "::base.html.twig" %}

{% block title %}AppBundle:Budget:year{% endblock %}

{% block body %}

    <script>
        var listSumByMonth = {{ listSumByMonth|json_encode|raw }};
    </script>

    <div id="wrapper">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}


        <div id="container">
            Expense : {{ totalSum }}<br />
            Saving : {{ saving }}<br />
            Income : {{ totalIncome }}<br>
            Real saving : {{ totalIncome - totalSum }}<br>
            Total : {{ totalIncome - totalSum - saving }}

        </div>
    </div>
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/Chart.js') }}"></script>
    <script src="{{ asset('js/Utilities.js') }}"></script>
    <script src="{{ asset('js/year.js') }}"></script>
{% endblock %}

